<!--<h3>Hello World</h3>

{{pageHeader}}

<img src="./assets/{{imagePath}}"/>

<br/>

{{isDisabled}} <br/>

<button [disabled]="isDisabled">Click</button>

<br/>

<button (click)="click()">Click me</button>

<br/>
-->
<!--<app-employee></app-employee>-->

<!--<app-home></app-home>-->

<app-employeelist></app-employeelist>

<!--<app-lifecycle></app-lifecycle>-->