<div>
    <h1>Employee Details</h1>
    <div>
       <h2>{{emp.id}}</h2>
       <div>Name: {{emp.name | uppercase | employeetitle: emp.gender}}</div>
       <div>Date: {{emp.date | date:'longDate'}}</div>
       <div>Salary: {{emp.salary | currency : 'INR'}}</div>
       <div>Gender: {{emp.gender}}</div>
       <div *ngIf="showDetails">
           <div *ngFor="let empl of emp.skill">
                {{empl.skill_id}} - {{empl.skill_name}}
           </div>
        </div>
    </div>
</div>
<button (click)="toggleDetails()">
    {{showDetails ? 'Hide':'Show'}}Details
</button>

<div>
   {{ jsonVal | json}}  <br/>
   {{ 454.6575 | number:'3.3-3'}} <br/>
   {{0.46575 | percent}}  <br/>
   {{months | slice:2:6}}

</div>   