

<h3>Customers</h3>
<div *ngFor="let customer of customers | async" style="width: 300px;">
  <app-customer-details [customer]='customer'></app-customer-details>
</div>
 
<div>
  <button type="button" class="button btn-danger" (click)='deleteCustomers()'>Delete All</button>
</div>


