<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand">Cusyome</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="add" class="nav-link"  routerLinkActive="active">Add Customer</a></li>
         <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="customer" class="nav-link" routerLinkActive="active">View Customers</a></li>
         <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="findbyage" class="nav-link" routerLinkActive="active">Search</a></li>
        
        </ul>
        <ul class="navbar-nav ml-auto">
            <li><span *ngIf="loginService.isUserLoggedIn()" class="navbar-text text-primary">Welcome {{loginService.uname}}</span></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
        </ul>
    </nav>
</header>
   