<p>first works!</p>

<input type="text" name="firstName" id="firstName" (change)="isDirty = true">

<br/><br/>

<button (click)="isDirty = false">Save</button>

<br/>

<a [routerLink]="['/second']" routerLinkActive="router-link-active">Second Page</a>