<!-- 1. Adding form HTML-->
<!--div class="container-fluid">
    <h2>Registration Form</h2>
    <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
-->

<!-- 2.Creating Form model-->
<!--<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    {{registrationForm.value | json}}
</div>
-->

<!-- 3. Nesting Form Groups-->
<!--<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    {{registrationForm.value | json}}
</div>
-->


<!--4. Managing control values-->
<!--
<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="loadApiData()">Load API Data</button>
    </form>
    {{registrationForm.value | json}}
</div>
-->

<!-- Simple Validation-->
<!--<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username"
             [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
                <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum 3 character</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="loadApiData()">Load API Data</button>
    </form>
    {{registrationForm.value | json}}
</div>
-->

<!-- Custom Validation-->
<!--
<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
                <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum 3 character</small>
                <small *ngIf="username.errors?.forbiddenName" class="text-danger">{{username.errors ?.forbiddenName.value}} Username not allowed</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="loadApiData()">Load API Data</button>
    </form>
    {{registrationForm.value | json}}
</div>
-->


<!--8. Cross field Validation-->
<!--<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
                <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum 3 character</small>
                <small *ngIf="username.errors?.forbiddenName" class="text-danger">{{username.errors ?.forbiddenName.value}} Username not allowed</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" 
            formControlName="confirmPassword" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="loadApiData()">Load API Data</button>
    </form>
    {{registrationForm.value | json}}
</div>
-->


<!-- 9. Conditional validation-->
<!--<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
                <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum 3 character</small>
                <small *ngIf="username.errors?.forbiddenName" class="text-danger">{{username.errors ?.forbiddenName.value}} Username not allowed</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email" 
            class="form-control">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
        </div>
        
        <div class="fomr-check mb-3">
            <input class="form-check-input" formControlName="subscribe" type="checkbox">
            <label class="form-check-label">
                Send me promotional offers
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        
    </form>
    {{registrationForm.value | json}}
</div>
-->

<!--9.Dynamic Form controls-->
<!--<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
                <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum 3 character</small>
                <small *ngIf="username.errors?.forbiddenName" class="text-danger">{{username.errors ?.forbiddenName.value}} Username not allowed</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add e-mail</button>
            <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email"
             class="form-control">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
            <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
              <input type="text" class="form-control my-1" [formControlName]="i">
            </div>
          </div>
        
        <div class="fomr-check mb-3">
            <input class="form-check-input" formControlName="subscribe" type="checkbox">
            <label class="form-check-label">
                Send me promotional offers
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        
    </form>
    {{registrationForm.value | json}}
</div>
-->


<!--10.Form Submission-->
<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" > 
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
                <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum 3 character</small>
                <small *ngIf="username.errors?.forbiddenName" class="text-danger">
                    {{username.errors ?.forbiddenName.value}} Username not allowed</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add e-mail</button>
            <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
            <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
              <input type="text" class="form-control my-1" [formControlName]="i">
            </div>
          </div>
        
        <div class="fomr-check mb-3">
            <input class="form-check-input" formControlName="subscribe" type="checkbox">
            <label class="form-check-label">
                Send me promotional offers
            </label>
        </div>
        <button class="btn btn-primary" [disabled]="registrationForm.invalid || registrationForm.untouched" type="submit">Register</button>
        
    </form>
    {{registrationForm.value | json}}
</div>
