<div class="container-fluid">
    <h1>Enrollment Form</h1>
    {{userForm.value | json}}
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="userName"  [(ngModel)]="personModel.userName"
            required #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched">
            <small class="text-danger" [class.d-none]="userName.valid && userName.untouched">Name is required</small>
        </div>
        <div class="form-group">
         <label>Email</label>
         <input type="email" class="form-control" name="email" [(ngModel)]="personModel.email"
         required #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
         <div *ngIf="email.errors && (email.invalid || email.touched)">
         <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
         </div>
     </div>
     <div class="form-group">
         <label>Phone</label>
         <input type="tel" class="form-control" name="phone" ngModel [(ngModel)]="personModel.phone"
         pattern="^\d{10}$" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" required>
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digit</small>
      </div>
     </div>
     <button class="btn btn-primary" type="submit" [disabled]="userForm.form.invalid">Submit Form</button>
    </form>
 </div>