<!--<div style="padding: 20px;">
  <h1 style="color: blue">Customer Application</h1>
  
  <nav>
    <a routerLink="add" class="btn btn-primary  active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
  </nav>
  <router-outlet></router-outlet>
</div>   -->

<app-header></app-header>
<router-outlet></router-outlet>