<!-- 1.Adding HTML form-->
<!--
<div class="container-fluid">
   <h1>Enrollment Form</h1>
   <form>
       <div class="form-group">
           <label>Name</label>
           <input type="text" class="form-control">
       </div>
       <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="tel" class="form-control">
    </div>
    <div class="form-group">
        <select class="custom-select">
            <option selected>I am interested in</option>
            <option *ngFor="let topic of topics">{{topic}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Time Preference</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="timePreference" value="morning">
            <label class="form-check-label">Morning (9AM - 12PM)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="timePreference" value="evening">
            <label class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">
            Send me promotional offers
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Submit Form</button>
   </form>
</div>
-->

<!-- 2.Binding data with ngForm-->
<!--<div class="container-fluid">
    <h1>Enrollment Form</h1>
    <form #userForm="ngForm">
        {{userForm.value | json}}
        <div ngModelGroup="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" ngModel>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" ngModel>
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" ngModel>
            </div>
            <div class="form-group">
                <label>Postal code</label>
                <input type="text" class="form-control" name="postalCode" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="userName" ngModel>
        </div>
        <div class="form-group">
         <label>Email</label>
         <input type="email" class="form-control" name="email" ngModel>
     </div>
     <div class="form-group">
         <label>Phone</label>
         <input type="tel" class="form-control" name="phone" ngModel>
     </div>
     <div class="form-group">
         <select class="custom-select" name="topic" ngModel>
             <option selected>I am interested in</option>
             <option *ngFor="let topic of topics">{{topic}}</option>
         </select>
     </div>
     <div class="mb-3">
         <label>Time Preference</label>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="morning" ngModel>
             <label class="form-check-label">Morning (9AM - 12PM)</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="evening" ngModel>
             <label class="form-check-label">Evening (5PM - 8PM)</label>
         </div>
     </div>
 
     <div class="form-check mb-3">
         <input class="form-check-input" type="checkbox" name="subscribe" ngModel>
         <label class="form-check-label">
             Send me promotional offers
         </label>
     </div>
 
     <button class="btn btn-primary" type="submit">Submit Form</button>
    </form>
 </div>
-->

<!-- Step 3-->
<!--<div class="container-fluid">
    <h1>Enrollment Form</h1>
    <form #userForm="ngForm">
        {{userForm.value | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="userName" ngModel [(ngModel)]="userModel.name">
        </div>
        <div class="form-group">
         <label>Email</label>
         <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
     </div>
     <div class="form-group">
         <label>Phone</label>
         <input type="tel" class="form-control" name="phone" ngModel [(ngModel)]="userModel.phone">
     </div>
     <div class="form-group">
         <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
             <option value="default" selected>I am interested in</option>
             <option *ngFor="let topic of topics">{{topic}}</option>
         </select>
     </div>
     <div class="mb-3">
         <label>Time Preference</label>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Morning (9AM - 12PM)</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Evening (5PM - 8PM)</label>
         </div>
     </div>
 
     <div class="form-check mb-3">
         <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
         <label class="form-check-label">
             Send me promotional offers
         </label>
     </div>
 
     <button class="btn btn-primary" type="submit">Submit Form</button>
    </form>
 </div>
-->

<!-- 4.Tracking message and Validation with visual feedback-->
<!--<div class="container-fluid">
    <h1>Enrollment Form</h1>
    <form #userForm="ngForm">
        {{userForm.value | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" 
                class="form-control" name="userName" [(ngModel)]="userModel.name">
        </div>
        <div class="form-group">
         <label>Email</label>
         <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
     </div>
     <div class="form-group">
         <label>Phone</label>
         <input type="tel" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"
         class="form-control" name="phone" [(ngModel)]="userModel.phone">
     </div>
     <div class="form-group">
         <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
             <option selected>I am interested in</option>
             <option *ngFor="let topic of topics">{{topic}}</option>
         </select>
     </div>
     <div class="mb-3">
         <label>Time Preference</label>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Morning (9AM - 12PM)</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Evening (5PM - 8PM)</label>
         </div>
     </div>
 
     <div class="form-check mb-3">
         <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
         <label class="form-check-label">
             Send me promotional offers
         </label>
     </div>
 
     <button class="btn btn-primary" type="submit">Submit Form</button>
    </form>
 </div>
-->

<!-- 5. Display error messages -->
<!--
    <div class="container-fluid">
    <h1>Enrollment Form</h1>
    <form #userForm="ngForm">
        {{userForm.value | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" class="form-control" name="userName" 
            [(ngModel)]="userModel.name" [class.is-invalid]="name.invalid && name.touched" >
                <small class="text-danger" [class.d-none]="name.valid || name.untouched" >Name is required</small>
        </div>
        <div class="form-group">
         <label>Email</label>
         <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
     </div>
     <div class="form-group">
         <label>Phone</label>
         <input type="tel" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"
         class="form-control" name="phone" [(ngModel)]="userModel.phone" required>
         <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>      
            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>      
          </div>
     </div>
     <div class="form-group">
         <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
             <option selected>I am interested in</option>
             <option *ngFor="let topic of topics">{{topic}}</option>
         </select>
     </div>
     <div class="mb-3">
         <label>Time Preference</label>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Morning (9AM - 12PM)</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Evening (5PM - 8PM)</label>
         </div>
     </div>
 
     <div class="form-check mb-3">
         <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
         <label class="form-check-label">
             Send me promotional offers
         </label>
     </div>
 
     <button class="btn btn-primary" type="submit">Submit Form</button>
    </form>
 </div>
-->

<!--6. Select Control Validation-->
<!--<div class="container-fluid">
    <h1>Enrollment Form</h1>
    <form #userForm="ngForm">
        {{userForm.value | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" 
                class="form-control" name="userName" [(ngModel)]="userModel.name">
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>
        <div class="form-group">
         <label>Email</label>
         <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
     </div>
     <div class="form-group">
         <label>Phone</label>
         <input type="tel" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"
         class="form-control" name="phone" [(ngModel)]="userModel.phone">
         <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>      
            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>      
          </div>
     </div>
     <div class="form-group">
        <select class="custom-select"  name="topic" [(ngModel)]="userModel.topic"  #topic="ngModel" 
        (change)="validateTopic(topic.value)" (blur)="validateTopic(topic.value)"
        [class.is-invalid]="topicHasError && topic.touched"
        >
          <option value="default">I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>  
      </div>
     <div class="mb-3">
         <label>Time Preference</label>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Morning (9AM - 12PM)</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
             <label class="form-check-label">Evening (5PM - 8PM)</label>
         </div>
     </div>
 
     <div class="form-check mb-3">
         <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
         <label class="form-check-label">
             Send me promotional offers
         </label>
     </div>
 
     <button class="btn btn-primary" type="submit">Submit Form</button>
    </form>
 </div>
-->

<!--7. Form Validation-->
<!--<div class="container-fluid">
    <h2>Enrollment Form</h2>
    
    <form #userForm="ngForm"  (ngSubmit)="onSubmit()" novalidate>
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" #name="ngModel" required class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="userModel.name">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
      </div>
  
      <div class="form-group">
        <label>Phone</label>
        <input type="tel" #phone="ngModel" required pattern="^\d{10}$" class="form-control" [class.is-invalid]="phone.invalid && phone.touched" name="phone" [(ngModel)]="userModel.phone">
      -->      
        <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be 10 digits</small> -->
   <!--   <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>      
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>      
        </div>
      </div>
  
      <div class="form-group">
        <select class="custom-select" (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="topic" [(ngModel)]="userModel.topic">
          <option value="default">I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>      
      </div>
  
      <div class="mb-3">
        <label>Time preference</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
          <label class="form-check-label">Morning (9AM - 12PM)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
          <label class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
      </div>
  
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
        <label class="form-check-label">
          Send me promotional offers
        </label>
      </div>
  
      <button class="btn btn-primary" [disabled]="userForm.form.invalid || topicHasError" type="submit">Submit form</button>
  
    </form>
  </div>
-->