<span class="setup">Given number:</span>
<h1>{{data}}</h1>
<button type="button" class="btn btn-success" (click)="fnAddNumber()">Add Number</button>
<button type="button" class="btn btn-danger" (click)="deleteNumber()">Clear Number</button>