<span class="radioClass">Show:</span>

<input type="radio" name="options" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()">
<span class="radioClass">{{"All("+all+")"}}</span>

<input type="radio" name="options" value="Male"  [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()">
<span class="radioClass">{{"Male("+male+")"}}</span>

<input type="radio" name="options" value="Female"  [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()">
<span class="radioClass">{{"Female("+female+")"}}</span>