
<body>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white " (click)="logout()" routerLink="/">Logout</a>
                </li>
            </ul>
        </div>

    <div class="container">
       <p>Admin works</p>
    </div>
<br/>
<br/>

</body>