
<app-employeecount [all]="getTotalEmployeesCount()"
                   [male]="getTotalMaleEmployeesCount()"
                [female]="getTotalFemaleEmployeesCount()"
                (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"
></app-employeecount>
<br/>   
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Gender</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let emp of empl">
        <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton==emp.gender">
            <td>{{emp.id}}</td>
            <td>{{emp.name | uppercase | employeetitle:emp.gender}}</td>
            <td>{{emp.date | date: 'fullDate'}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.salary | currency:'INR'}}</td>
        </tr>
    </ng-container>
        <tr *ngIf="!empl || empl.length==0">
            <td colspan="5">No employees to display</td>
        </tr>
    </tbody>
  
  </table>  
