<div class="container-fluid">
    <h2>Registration Form</h2>
    {{registrationForm.value | json}}
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username"
            [class.is-invalid]="username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched">
              <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
              <small *ngIf="username.errors?.minlength" class="text-danger">Username is minimum of 4 characters</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" 
            [class.is-invalid]="registrationForm.errors?.mismatch">
            <small class="text-danger" *ngIf="registrationForm.errors?.mismatch">Password do not match</small>
        </div>

        <div>
            <label>Email</label>
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add Email</button>
            <input type="email" class="form-control" formControlName="email"
            [class.is-invalid]="email.invalid && email.touched">
            <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                <small *ngIf="email.errors?.email" class="text-danger">Eamil should be in proper format</small>
            </div>
            <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
                 <input type="text" class="form-control my-1" [formControlName]="i">
            </div>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid">Register</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="loadApiData()">Load API</button>
    </form>
</div>