
<head>
   
    <style>

        .navbar {
            background-color:aqua;
            
        }

        button {
            background-color: #ff6347
        }

        .footer {
            height: 70px;
            position: relative;
            width: 100%;
            bottom: 0px;
            background-color: #ff6347;
            color: white;
        }
        header {
            height: 70px;
        }
       
    </style>
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark  ">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link text-white " routerLink="/ItemsAdmin/">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="/Login/">Login</a>
                </li>
            </ul>
        </div>
    </nav>
  </header>


    
